
.principal{
    display: grid;
    gap: 14px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-areas:
        /*"header header header"*/
        "main main sidebar"
        "footer footer footer";
    
}

.principal header{
    background: blue;
    grid-column: 1/-1;
    grid-area: header;
}
.principal footer{
    background: yellow;
    grid-column: 1/-1;
    grid-area: footer;
}
.principal main{
    grid-column: span 2;
    background-color: lightgray;
    grid-area: main;
    display: grid;
    justify-items: center;
}
.principal aside{
    background-color: red;
    grid-area: sidebar;
    display: grid;
    justify-items: center;
    
}
img{
    width: 100px;
    height:100px;
}
.contenido{
    justify-items: center;
    display:grid;
    background-color: aquamarine;
    width: 60%;
    border-radius: 10px;
    gap: 5px;

 
}

button{
    border:none;
    background-color: lightgrey;
    color: rgb(43, 78, 124);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.encriptar{
    color: lightgrey;
    background-color: rgb(43, 78, 124);
}

.copiar{
    color: white;
    background-color: rgb(43, 78, 124);
}
