
.principal{
    display: grid;
    gap: 14px;
    grid-template-areas:
        "main main sidebar"
        "footer footer footer";
}

.principal header{
    background: blue;
    grid-column: 1/-1;
    grid-area: header;
}

.principal footer{
    background: yellow;
    grid-area: footer;
}

.principal main{
    grid-column: span 2;
    background-color: lightgray;
    grid-area: main;
    display: grid;
    justify-items: center;
    height: 80vh;
}

.principal aside{
    background-color: red;
    grid-area: sidebar;
    display: grid;
    justify-items: center;
    
}
main img{
    width: 100px;
    height:100px;
}
.contenido{
    justify-items: center;
    display:grid;
    background-color: aquamarine;
    width: 60%;
    border-radius: 10px;
    gap: 5px;

 
}

button{
    border:2px solid rgb(43, 78, 124);
    background-color: lightgrey;
    color: rgb(43, 78, 124);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.encriptar{
    color: lightgrey;
    background-color: rgb(43, 78, 124);
}

.copiar{
    color: white;
    background-color: rgb(43, 78, 124);
}

.texto1{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: lightgray;
    resize: none;
}
